.DS_Store
.idea

otel-collector/output/output.json

signoz/data/alertmanager/*
signoz/data/clickhouse/*
signoz/data/signoz/*
signoz/data/zookeeper-1/*
!signoz/**/.gitkeep

aem/*
!aem/aem-start.sh
!aem/aem-stop.sh
